@page
@model DatabaseConnection1.Pages.Students.CreateModel
@{
}

<h1>:: Create Student Page ::</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div  class="form-group">
                <label class="control-label">Student ID</label>
                <input type="text" asp-for="StudRec.StudentID" class="form-control"/>
            </div>

            <div>
                <label class="control-label">Student Name</label>
                <input type="text" asp-for="StudRec.StudentName" class="form-control"/>
            </div>

            <div>
                <label class="control-label">Student Level</label>
                <input type="text" asp-for ="StudRec.StudentLevel" class="form-control"/>
            </div>

            <div>
                <label class="control-label">Student Course</label>
                <input type="text" asp-for="StudRec.StudentCourse" class="form-control"/>
            </div>
            <br />
            <div>
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>

        </form>
    </div>
</div>