@page
@model DatabaseConnection1.Pages.Students.UpdateModel
@{
}

<h1>:: Update Student Page</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

                <input type="hidden" asp-for="StudentRec.Id"/>
            

            <div class="form-group">
                <label asp-for="StudentRec.StudentID" class="control-label"></label>
                <input type="text" asp-for="StudentRec.StudentID" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="StudentRec.StudentName" class="control-label"></label>
                <input type="text" asp-for="StudentRec.StudentName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="StudentRec.StudentLevel" class="control-label"></label>
                <input type="text" asp-for="StudentRec.StudentLevel" class="form-control"  />
            </div>

            <div class="form-group">
                <label asp-for="StudentRec.StudentCourse" class="control-label"></label>
                <input type="text" asp-for="StudentRec.StudentCourse" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-dark"/>
            </div>

        </form>
    </div>
</div>